
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carreteras</title>
    
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />"
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body class="">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            
                                <img alt="image" class="img-circle img-md text-center" src="~/Content/img/profile_small.jpg"  />
                                                          
                        </div>
                        <div class="logo-element">
                            CA+
                        </div>
                    </li>

                    <li>
                        <a href="/Principal/General"><i class="fa fa-diamond"></i> <span class="nav-label">General</span></a>
                    </li>


                    <li>
                        <a href="/Principal/Carreteras"><i class="fa fa-map-marker"></i> <span class="nav-label">Carreteras</span>  </a>
                    </li>
                    <li>
                        <a href="/Principal/Seguridad"><i class="fa fa-lock"></i> <span class="nav-label">Seguridad</span></a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" style="background-image: url('../../Content/img/fondo.jpg');background-repeat: no-repeat;background-size: cover; " />


            <div class="row border-bottom">
                <nav class=" " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        
                        
                    </div>
                    <ul class="nav navbar-top-links navbar-right">

                        


                        <li>
                            <a href="/Principal/Login">
                                <i class="fa fa-sign-out"></i> Cerrar Sesión
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>


            <div class="wrapper wrapper-content">
                @RenderBody()


                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2017
                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- Mainly scripts -->
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom a~/Content/gin javascript -->
    <script src="~/Content/js/inspinia.js"></script>
    <script src="~/Content/js/plugins/pace/pace.min.js"></script>
    <script src="/content/js/plugins/dataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "(Filtrado de MAX total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },

                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                    {

                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');

                    }
                    }]
            });

        });

    </script>

</body>

</html>



