@model Carreteras.Models.tb_categorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Detaille Categoria</h2></center>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_descripcion)
        </dd>

     

        

    </dl>
</div>
<div class="col-md-offset-10 col-md-10">
    @Html.ActionLink("Editar", "Edit", new { id = Model.cat_id }, new { @class = "btn btn-success  " }) |
    @Html.ActionLink("Cancelar", "Index", null, new { @class = " btn btn-default" })
</div>

    <h3>Auditoria</h3>
    <table class="table table-striped table-bordered table-hover   dtr-inline" id="tbl" aria-describedby="tabla_evento_info" role="grid">
        <thead>
            <tr>

                <th>
                    Accion
                </th>

                <th>
                    Usuario
                </th>

                <th>
                    Fecha
                </th>

            </tr>
        </thead>


        <tr>
            <td>
                Crea
            </td>
            <td>
                Giezi
            </td>
            <td>
                12/12/29020
            </td>

        </tr>
        <tr>
            <td>
                Modifica
            </td>
            <td>
                Jose
            </td>
            <td>
                11/11/2020
            </td>

        </tr>
    </table>
