
@{
    ViewBag.Title = "Carreteras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">

        <div class="col-md-4">
            <div class="col-md-offset-2">
                <a href="/Principal/ControladorCarreteras">
                    <div class="widget white-bg p-lg text-center">
                        <div class="m-b-md">
                            
                            
                            <h1 class="font-bold text-primary">
                                Carreteras
                            </h1>
                            <i class="fa fa-road fa-5x"></i>
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-offset-2">
                <a href="/Principal/ControladorTramos">
                    <div class="widget white-bg p-lg text-center">
                        <div class="m-b-md">


                            <h1 class="font-bold text-primary">
                                Tramos
                            </h1>
                            <i class="fa fa-arrows-alt fa-5x"></i>

                        </div>
                    </div>
                </a>
            </div>
        </div>
            
        <div class="col-md-4">
            <div class="col-md-offset-2">
                <a href="/Principal/ControladorComunas">
                    <div class="widget white-bg p-lg text-center">
                        <div class="m-b-md">


                            <h1 class="font-bold text-primary">
                                Comunas
                            </h1>
                            <i class="fa fa-home fa-5x"></i>

                        </div>
                    </div>
                </a>
            </div>
        </div>
        </div>




   

