
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />"
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body background="../../Content/img/login.jpg">
    
   <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="text-box text-center loginscreen animated fadeInDown col-md-4 col-md-offset-4" style="background-color:rgba(255, 255, 255, 0.74)">

                <div>
                    <div class="logo-name">


                        <img class="col-md-8  col-md-offset-2" src="~/Content/img/calle login.png" />

                    </div>
                    <h3>Bienvenido(a) </h3>

                    <p>Ingresar Correo Y Contraseña.</p>
                    <br />
                    <form class="m-t" role="form" action="/Principal/Principal">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Usuario" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control fa-" placeholder="Contraseña" required="">
                        </div>
                        <button type="submit" class="btn btn-success  btn-w-m">Ingresar</button>
                        <br />
                        <a href="#"><small>Recuperar Contraseña?</small></a>

                    </form>
                    <p class="m-t"> <small>Sistema de administracion  &copy; 2020</small> </p>
                </div>
            </div>
        </div>
    </div>
        <!-- Mainly scripts -->
        <script src="~/Content/js/jquery-2.1.1.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom a~/Content/gin javascript -->
        <script src="~/Content/js/inspinia.js"></script>
        <script src="~/Content/js/plugins/pace/pace.min.js"></script>
        <script src="/content/js/plugins/dataTables/datatables.min.js"></script>

</body>

</html>

