
@{
    ViewBag.Title = "Seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-4">
        <div class="col-md-offset-2">
            <a href="/Principal/ControladorUsuarios">
                <div class="widget white-bg p-lg text-center">
                    <div class="m-b-md">


                        <h1 class="font-bold text-primary">
                            Usuarios
                        </h1>
                        <i class="fa fa-user fa-5x"></i>

                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="col-md-offset-2">
            <a href="/Principal/ControladorRoles">
                <div class="widget white-bg p-lg text-center">
                    <div class="m-b-md">


                        <h1 class="font-bold text-primary">
                            Roles
                        </h1>
                        <i class="fa fa-newspaper-o fa-5x"></i>

                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="col-md-offset-2">
            <a href="/Principal/ControladorPantallas">
                <div class="widget white-bg p-lg text-center">
                    <div class="m-b-md">


                        <h1 class="font-bold text-primary">
                            Pantallas
                        </h1>
                        <i class="fa fa-desktop fa-5x"></i>

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>




